@import "tailwindcss";

:root {
  --background: #ffffff;
  /* --foreground: #171717; */
  --container-padding: 11.25rem;
  --container-padding-mobile: 2rem;
}

@theme inline {
  --font-inter: var(--font-inter);
  --color-background: var(--background);
  /* --color-foreground: var(--foreground); */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .container-padding {
    @apply w-auto px-[2rem] lg:px-[11.25rem];
  }

  .form-input {
    @apply font-inter rounded-md border border-gray-300 px-3 py-2 text-base placeholder:text-gray-300;
  }
}
