@import "tailwindcss";

:root {
  --background: #04202c;
  --primary: #04202c;
  --secondary: #304040;
  --accent: #5b7065;
  --muted: #c9d1c8;

  --container-padding: 11.25rem;
  --container-padding-mobile: 2rem;
}

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-muted: var(--muted);

  --font-inter: var(--font-inter);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@layer components {
  .container-padding {
    @apply w-auto px-[2rem] lg:px-[11.25rem];
  }

  .form-input {
    @apply font-inter rounded-md border border-gray-300 px-3 py-2 text-base placeholder:text-gray-300;
  }
  .submit-button {
    @apply bg-accent text-white font-medium rounded-md px-4 py-2 hover:bg-blue-700;
  }
}
